<div class="">
    <div class="row">
        {{#each courses}}
            <div class="col-sm-6 col-lg-4 mt-4">
                <div class="card h-100">
                    <a href="/courses/{{this.slug}}"><img src="{{this.image}}" class="card-img-top object-fit-cover"  style="height: 200px;" /></a>
                    <div class="card-body d-flex flex-column">
                        <a href="/courses/{{this.slug}}"> <h5 class="card-title">{{this.name}}</h5></a>
                        <p class="card-text clamp-5-lines flex-grow-1">{{this.description}}</p>
                        <a href="#" class="btn btn-primary mt-3">Go somewhere</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>