<div class="mt4">
    <div>
        <h3>Khoá học của tôi</h3>
        <a href="/me/trash/courses">Thùng rác</a>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khoá hoc</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian tạo</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td><a href="/courses/{{this._id}}/edit" class="btn btn-link btn-restore">Sửa</a></td>
                    <td><a
                            href="#"
                            class="btn btn-link"
                            data-bs-toggle="modal"
                            data-bs-target="#delete-courses-modal"
                            data-id="{{this._id}}"
                        >Xoá</a></td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="5" class="text-center">Bạn chưa đăng khoá học nào,
                        <a href="/courses/create"> Ấn vào đây</a>
                        để thêm khoá học của bạn!</td>
                </tr>

            {{/each}}
        </tbody>
    </table>
</div>
{{!  }}
<div class="modal" tabindex="-1" id="delete-courses-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>Bạn có muốn xoá khoá học này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="submitBtnDelete">Xoá</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
{{! Hidden form }}
<form name="deleteForm" method="POST"></form>
<script>
   document.addEventListener("DOMContentLoaded", () => {
    const exampleModal = document.getElementById('delete-courses-modal');
    const deleteForm = document.forms['deleteForm'];
    let courseId;

    if (exampleModal) {
        exampleModal.addEventListener('show.bs.modal', (event) => {
            const button = event.relatedTarget;

            // Lấy courseId từ thuộc tính data-id của nút được click
            courseId = button.getAttribute('data-id');

            // Tìm nút xác nhận xoá trong modal
            const submitBtnDelete = document.querySelector("#submitBtnDelete");

            // Gán action cho form và submit khi click vào nút xoá
            submitBtnDelete.onclick = () => {
                deleteForm.action = "/courses/" + courseId + "?_method=DELETE";
                deleteForm.submit();
            };

            
        });
    }
});
</script>