<form name="container-form" class="mt-4" method="POST" action="/courses/handle-form-action">
    <div>
        <h3>Khoá học của tôi</h3>
        <a href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>
        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all" />
                <label class="form-check-label" for="checkbox-all">
                    Chọn tất cả
                </label>
            </div>
            <select class="form-control-sm checkbox-select-all-option" name="action" id="option-action-form">
                <option value="default" selected>Chọn hành động</option>
                <option value="delete">Xoá</option>
                <option>Three</option>
            </select>
            <button class="btn btn-primary btn-small disabled btn-submit-button">Áp dụng</button>
        </div>
    </div>

    <table class="table mt-4">
        <thead>
            <tr><th></th>
                <th scope="col">#</th>
                <th scope="col">Tên khoá hoc</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian tạo</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <td><div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{this._id}}" name="courses_Id[]" />
                        </div>
                    </td>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td><a href="/courses/{{this._id}}/edit" class="btn btn-link btn-restore">Sửa</a></td>
                    <td><a
                            href="#"
                            class="btn btn-link"
                            data-bs-toggle="modal"
                            data-bs-target="#delete-courses-modal"
                            data-id="{{this._id}}"
                        >Xoá</a></td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="5" class="text-center">Bạn chưa đăng khoá học nào,
                        <a href="/courses/create"> Ấn vào đây</a>
                        để thêm khoá học của bạn!</td>
                </tr>

            {{/each}}
        </tbody>
    </table>
</form>
{{!  }}
<div class="modal" tabindex="-1" id="delete-courses-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>Bạn có muốn xoá khoá học này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="submitBtnDelete">Xoá</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
{{! Hidden form }}
<form name="deleteForm" method="POST"></form>
<script>
    document.addEventListener("DOMContentLoaded", () => {
    const exampleModal = document.getElementById("delete-courses-modal");
    const deleteForm = document.forms["deleteForm"];
    const checkboxAll = document.getElementById("checkbox-all")
    const courseItemCheckbox = document.getElementsByName("courses_Id[]")
    const btnSubmitButton = document.getElementsByClassName("btn-submit-button")
    const containerForm = document.getElementsByName("container-form")
    const optionActionForm = document.getElementById("option-action-form")
    let courseId;
    if (exampleModal) {
        exampleModal.addEventListener("show.bs.modal", (event) => {
            const button = event.relatedTarget;
            //Lấy courseId từ thuộc tính data-id của nút được click
            courseId = button.getAttribute("data-id"); // Tìm nút xác nhận xoá trong modal
            const submitBtnDelete = document.querySelector("#submitBtnDelete");
            // // Gán action cho form và submit khi click vào nút xoá
            submitBtnDelete.onclick = () => {
                console.log(213);
                deleteForm.action = "/courses/" + courseId + "?_method=DELETE";
                deleteForm.submit();
            };
        });
    }
    {{!-- Check all --}}
    checkboxAll.addEventListener("change",(e)=>{
        const isCheckedAll = e.target.checked
        courseItemCheckbox.forEach(checkbox=>{
            checkbox.checked = isCheckedAll

        })
            renderCheckAllSubmitBtn()
        
    });
    {{!-- course checkbox --}}
        courseItemCheckbox.forEach((checkbox) => {
            checkbox.addEventListener("change", (e) => {
            const isCheckedAll =  courseItemCheckbox.length === document.querySelectorAll('input[name="courses_Id[]"]:checked').length;
            checkboxAll.checked=isCheckedAll
            renderCheckAllSubmitBtn()
            });
        });
   
   {{!-- Re-render submit button --}}
   function renderCheckAllSubmitBtn(){
    const checkedCount = document.querySelectorAll('input[name="courses_Id[]"]:checked').length;

    if(checkedCount > 0 || checkboxAll.checked === true   ){
        btnSubmitButton[0].classList.remove("disabled")
    }else{
        btnSubmitButton[0].classList.add("disabled")
    }

   }

   {{!-- check all submit button --}}
  btnSubmitButton[0].addEventListener("click",(e)=>{
    e.preventDefault();
    const isSubmit = !btnSubmitButton[0].classList.contains("disabled")
    if(isSubmit && optionActionForm.value !== "default"){
    containerForm[0].submit()
    }else{

    }
   }) 
})
</script>